{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

                <div class="listOfAnswersOrQuestions">

                     <div class="headerOfListOfQuestions">
                        <h2>New Questions</h2>
                        <a href="#" style="margin: 10px;">Hot Questions</a>
                    </div>

                    {% for question in items %}

                        {% include 'components/questionItem.html' %}

                    {% endfor %}

                    {% include 'components/pagination.html' %}

                </div>
                
                
<!-- конец блока  -->
{% endblock %}