<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/headOfPage.css" rel="stylesheet">
    <link href="css/contentOfPage.css" rel="stylesheet">
    <link href="css/rightContentOfPage.css" rel="stylesheet">
    <link href="css/allQuestions.css" rel="stylesheet">
    <link href="css/oneQuestion.css" rel="stylesheet">
    <link href="css/questionFormStyle.css" rel="stylesheet">
    <link href="css/regOrLogFormStyle.css" rel="stylesheet">
    <link href="css/bottomOfPage.css" rel="stylesheet">
    <title>signup</title>
</head>

<body>
    
    <header>
        <h2><a class="pageName" href="#">AskSomebodyLikeMe</a></h2>
        <form class="d-flex">
            <input class="headerSearch me-2" type="search" placeholder="&#128269 Search" aria-label="Search">
            <!-- <button class="headerSearchButton">ASK!</button> -->
        </form>
        <!-- <div class="navigationBarAccountPart">
            <a href="#"><img class="usersImage" src="img/avatarTemp.jpg"></a>
            <div style="flex-direction: column; margin-left: 10px;">
                <a class="usersNickname" href="#">Obbrnu</a>
                <div class="navigationBarAccountButtons">
                    <a class="accountButtons" href="#" style="margin-right:10px; margin-left:-3px;">Settings</a>
                    <a class="accountButtons" href="#">Log out</a>
                </div>
            </div>
        </div> -->
        <div class="navigationBarAccountPart">
            <div class="navigationBarAccountButtons">
                <a class="accountButtons me-2" href="#" style="margin-right:10px;">Log in</a>
                <a class="accountButtons" href="#">Register</a>
            </div>
        </div>
    </header>

    <main>
        <div class="mainContent">

            <div class="leftPartOfMain">


<!-- TODO: реализовать показ блока на base.htlm -->
<!-- начало блока -->
                
                    
                    <form class="listOfRegFormGroups">
                        <h2>Register</h2>
                        <p class="regFormError">Sorry, something wrong!</p>

                        <div class="regFormGroups">
                            <label class="regFormLabel" for="login">Login</label>
                            <input id="login" class="regFormInput" maxlength="50" placeholder="login"required>
                        </div>

                        <div class="regFormGroups">
                            <label class="regFormLabel" for="email">Email</label>
                            <input id="email" class="regFormInput" maxlength="50" placeholder="email@email.com"required type="email">
                        </div>

                        <div class="regFormGroups">
                            <label class="regFormLabel" for="nickname">NickName</label>
                            <input id="nickname" class="regFormInput" maxlength="50" placeholder="nickname" required>
                        </div>

                        <div class="regFormGroups">
                            <label class="regFormLabel" for="password">Password</label>
                            <input id="password" class="regFormInput" maxlength="50" placeholder="password" required type="password">
                        </div>

                        <div class="regFormGroups">
                            <label class="regFormLabel" for="repeatingPassword">Repeat Password</label>
                            <input id="repeatingPassword" class="regFormInput" maxlength="50" placeholder="password"required type="password">
                        </div>

                        <div class="regFormGroups">
                            <label class="regFormLabel" for="avatarPath">Upload avatar</label>
                            <input id="avatarPath" class="regFormInput" style="width: 160px;" placeholder="/path">
                            <button class="pageButton" style="width: 90px;">Choose file</button>
                        </div>
                        
                        <div class="regFormGroups">
                            <label class="regFormLabel"></label>
                            <button class="pageButton"  style="margin: 0px; width: 250px;">Register</button>
                        </div>
                    </form>
                

<!-- конец блока  -->
                

            </div>
            <div class="rightPartOfMain">

                <h3>Popular Tags</h3>
                <div class="popularTags">
                    <div class="tag" style="color: red; font-size:25px">testTag1</div>
                    <div class="tag">testTag2</div>
                    <div class="tag"style="color: orange; font-size:20px">testTag3</div>
                    <div class="tag"style="color: green">testTag4</div>
                    <div class="tag" >testTag5</div>
                    <div class="tag"style="color: red; font-size:25px">testTag6</div>
                    <div class="tag">testTag6</div>
                    <div class="tag">testTag6</div>
                </div>

                <h3>Best Members</h3>
                <div class="bestMembers">
                    <a href="#">testUser1</a>
                    <a href="#">testUser2</a>
                    <a href="#">testUser3</a>
                    <a href="#">testUser4</a>
                    <a href="#">testUser5</a>
                </div>
            </div>

        </div>
    </main>

    <footer>

    </footer>

    <script src="js/bootstrap.bundle.min.js"></script>

</body>

</html>