{% load static %}

<div class="contentOfAnswerOrQuestion">
    <div class="imageOfUserAnswerOrQuestionWithCounter">
        <div class="imageOfUserAnswerOrQuestion">
            <a href="{% url 'question' question_id=question.id %}"><img class="imageOfUserAnswerOrQuestion" src="{% static question.author.avatar.url %}"></a>
        </div>
        <div class="counterOfLikes">
            <div style="margin:5px;">{{ question.rating }}</div>
            <button type="button" class="pageButton" onclick="question.ratingUp()">&#8593;</button>
            <button class="pageButton" style="margin-left: -7px;">&#8595;</button>
        </div>
    </div>
    <div class="infoOfQuestion">
        <h4><a href="{% url 'question' question_id=question.id %}">{{ question.title }}</a></h4>
        <p>{{ question.text }}</p>
        <div class="bottomOfInfoOfQuestion">
            <a href="{% url 'question' question_id=question.id %}">Answer ({{ question.answers.count }})</a>
            <div class="tagsOfQuestion">
                Tags:
                {% for tag in question.tags.all %}
                <a class="tag" href="{% url 'tag' s=tag %}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>